[Install]
WantedBy=default.target

[Unit]
Description=Kanata keyboard remapper
After=graphical-session.target

[Service]
ExecStart=
Restart=on-failure

[Install]
WantedBy=default.target
